:root {
  --primary-color: #5a67d8;  /* Un azul más suave que el original */
  --hover-color: #434190;  /* Un azul más oscuro para el hover */
  --background-color: #f7f7f8;  /* Un fondo más claro para más contraste */
  --text-color: #2d3748;  /* Un gris oscuro para mejorar la legibilidad */
  --input-background: #ffffff;  /* Fondo blanco para los inputs para claridad */
  --border-color: #e2e8f0;  /* Un gris claro para los bordes */
}
body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

a, button {
  color: var(--primary-color);
  transition: color 0.3s ease-in-out;
}

a:hover, button:hover {
  color: var(--hover-color);
}

input[type="text"], input[type="number"], select {
  width: calc(100% - 2em);
  padding: 1em;
  margin-top: 0.5em;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: var(--input-background);
}

button {
  background-color: var(--primary-color);
  border: none;
  border-radius: 8px;
  padding: 0.8em 1.6em;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: var(--hover-color);
  color: #e9eaf8;
}

@media (max-width: 768px) {
  #app {
    width: 100%;
    padding: 1em;
  }

  h1 {
    font-size: 1.5em;
  }

  input[type="text"], input[type="number"], select {
    width: calc(100% - 2em); /* Adjust for padding */
  }
}

#event-selector{
  width: 500px; /* Ajusta el ancho para que sea más grande y consistente */
  padding: 12px 20px; /* Aumenta el padding para un mejor manejo */
  margin: 10px auto; /* Centra los elementos y agrega espacio entre ellos */
  display: block; /* Asegura que cada elemento se muestre en su propia línea */
  font-size: 1em; /* Aumenta el tamaño de la fuente para mejorar la legibilidad */
  border-radius: 8px; /* Añade bordes redondeados para un aspecto más moderno */
  border: 1px solid #535bf2; /* Añade un borde sutil */
}

.transaction-container {
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.transaction-details {
  display: none;
  padding: 8px;
  background-color: #ffffff;
  border-top: 1px solid var(--border-color);
}

.transaction-container:hover {
  background-color: var(--hover-color);
  color: #868bf0;
}

